body.page-examples h1 {
    border-top: 1px solid #ddd;
    padding-top: 14px;
}
body.page-examples main img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) { /* wide screens */
    body.page-examples main img {
        max-width: 400px;
    }
}
